<aside class="col-lg-3 mt-5 mt-lg-0">
    <div class="sticky-sidebar">
        <div class="widget">
            <h5 class="widget-title"><span>Search</span></h5>
            <form action="/bookworm/site/search" class="widget-search position-relative">
                <input class="mb-1 form-control rounded" id="search-query" name="s" type="search" placeholder="Type &amp; Hit Enter...">
                <i class="fas fa-search" style="position:absolute;top:18px;right:17px"></i>
            </form>
        </div>
        <div class="widget widget-categories">
            <h5 class="widget-title"><span>Categories</span></h5>
            <ul class="list-unstyled widget-list">
                <li><a href="/bookworm/site/categories/accessories" class="d-flex">Accessories <small class="ms-auto">(1)</small></a></li>
                <li><a href="/bookworm/site/categories/food" class="d-flex">Food <small class="ms-auto">(1)</small></a></li>
                <li><a href="/bookworm/site/categories/lifestyle" class="d-flex">Lifestyle <small class="ms-auto">(4)</small></a></li>
                <li><a href="/bookworm/site/categories/photography" class="d-flex">Photography <small class="ms-auto">(2)</small></a></li>
            </ul>
        </div>
        <div class="widget">
            <h4 class="widget-title"><span>Tags</span></h4>
            <ul class="list-inline widget-list widget-list-inline taxonomies-list">
                <li class="list-inline-item"><a href="/bookworm/site/tags/alarm">Alarm</a></li>
                <li class="list-inline-item"><a href="/bookworm/site/tags/balloon">Balloon</a></li>
                <li class="list-inline-item"><a href="/bookworm/site/tags/clock">Clock</a></li>
                <li class="list-inline-item"><a href="/bookworm/site/tags/diy">Diy</a></li>
                <li class="list-inline-item"><a href="/bookworm/site/tags/food">Food</a></li>
                <li class="list-inline-item"><a href="/bookworm/site/tags/gas">Gas</a></li>
                <li class="list-inline-item"><a href="/bookworm/site/tags/gold">Gold</a></li>
                <li class="list-inline-item"><a href="/bookworm/site/tags/photography">Photography</a></li>
                <li class="list-inline-item"><a href="/bookworm/site/tags/toy">Toy</a></li>
            </ul>
        </div>
        <div class="widget">
            <h4 class="widget-title"><span>Social</span></h4>
            <ul class="list-inline social-links icon-box widget-social">
                <li class="list-inline-item text-center"><a href=""><i class="fab fa-facebook"></i></a></li>
                <li class="list-inline-item text-center"><a href=""><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item text-center"><a href=""><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item text-center"><a href=""><i class="fab fa-linkedin"></i></a></li>
            </ul>
        </div>
    </div>
</aside>